a {
	color: rgb(80, 141, 255);
	text-decoration: none;
	min-width: 1.5rem;
	transition: all ease 0.2s 0s;
}
a:hover {
	transition: all ease 0.2s 0s;
	color: rgb(52, 123, 255);
	text-decoration: underline;
}
blockquote {
	border-left: 4px solid rgb(80, 141, 255);
	padding-left: 1em;
	border-radius: 1px;
	margin: 2.3em 0;
}
